/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

/* Will run data as paired-end by default. A minimum usage example is as follows:
 *       nextflow run main.nf  -profile fiji
 * Enter nextflow run main.nf -profile fiji --help for more aguments
 */

params {
  // canFam4 Genome Reference Files
  genome = "/scratch/Shares/dowell/genomes/canFam4/canFam4.fa"
  hisat2_indices = "/scratch/Shares/dowell/genomes/canFam4/HISAT2/genome"
  genome_refseq = "/scratch/Shares/dowell/genomes/canFam4/canFam4.refGene.bed"
  chrom_sizes = "/scratch/Shares/dowell/genomes/canFam4/canFam4.chrom.sizes"
  fstitch_path = "/scratch/Shares/dowell/FStitch/src/FStitch"
  //fstitch_train = "/scratch/Shares/dowell/FStitch/train/hg38_train.bed"
  tfit_path = "/scratch/Shares/dowell/Tfit/src/Tfit"
  //motif_path = "/scratch/Shares/dowell/motifs/best_curated_Human_TFs_p1e-6_grch38"
  picard_path = "/opt/picard/2.6.0/picard-2.6.0.jar"
}

