/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

/* Will run data as single-end by default. A minimum usage example is as follows:
 *       nextflow run main.nf  -profile fiji
 * Enter nextflow run main.nf -profile fiji --help for more aguments
 */

params {
  email = "margaret.gruca@colorado.edu"
  outdir = "/scratch/Shares/dowell/NascentDB/processed"
  keyword = "Test2018"

  // Useful paths and reference files
  genome = "/scratch/Shares/dowell/nascent/hg38"
  path_to_rcc = "/scratch/Shares/dowell/nascent/rcc.py"
  bbmap_adapters = "/opt/bbmap/38.05/resources/adapters.fa"
  hisat2_indices = "/scratch/Shares/dowell/nascent/hg38/HISAT2_indexes/genome"
  genome_refseq = "/scratch/Shares/dowell/nascent/hg38/hg38_refseq.bed"
  effective_genome_size = "2913022398"
  chrom_sizes = "/scratch/Shares/dowell/nascent/hg38/hg38.chrom.sizes"
  path_to_bedGraphToBigWig = "/scratch/Shares/dowell/scripts/bedGraphToBigWig"

  // Input data alternatives (choose any, but must at least leave it with
  // an empty string if unused):

  // 1. Directory pattern with a bunch of fastq files
  //fastq_dir_pattern = "/scratch/Users/SR*_{1,2}.fastq"
  fastq_dir_pattern = ""

  // 2. Directory pattern with a bunch of srr files downloaded from GEO
  //sra_dir_pattern = "/scratch/Shares/dowell/nascent/sra/to_process_gro/SR*"
  sra_dir_pattern = "/scratch/Shares/dowell/NascentDB/sra/SRR4012402.sra"
}
