/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

params {
//  max_cpus = 2
//  max_memory = 6.GB
//  max_time = 48.h
  email = "igtr4848@colorado.edu"
  outdir = "/scratch/Shares/dowell/processed_groseq"

  // Useful paths and reference files
  genome = "/scratch/Shares/dowell/nascent/hg38"
  deep_container = "/scratch/Shares/public/singularity/deeptools-3.0.1-py35_1.img"
  bbmap_adapters = "/opt/bbmap/38.05/resources/adapters.fa"
  hisat2_indices = "/scratch/Shares/dowell/nascent/hg38/HISAT2_indexes/genome"
  genome_refseq = "/scratch/Shares/dowell/nascent/hg38_refseq.bed"
  effective_genome_size = "2913022398"
  chrom_sizes = "/scratch/Shares/dowell/nascent/hg38.chrom.sizes"

//  bt2index = "/scratch/Shares/public/genomes/Homo_sapiens/UCSC/hg19/Sequence/Bowtie2Index/genome"
//  chrom_sizes = "/scratch/Shares/dowell/bowtie2_indices/human.hg19.genome"
//  tf_motif_sites = "/scratch/Shares/dowell/md_score_paper/PSSM_hits_genome_wide/pval-6/HO_*.bed"
//  trimmomatic_jar_path = "/Users/igtr4848/bin/Trimmomatic-0.36/trimmomatic-0.36.jar"

  // Input data alternatives:

  // Specific SRRs
  //readPaths = []

  // Directory with a bunch of fastq files
  //fastq_dir_pattern = "/scratch/Users/igtr4848/180629_NB501447_0312_fastq/Demux/LD*_R{1,2}_001.fastq.gz"
  //fastq_dir_pattern = "/scratch/Shares/dowell/pubgro/matched_to_GRO/human/*/SR*_{1,2}.fastq"
  //fastq_dir_pattern = "$baseDir/test-data/reads/SR*_{1,2}.fastq"

  // List of accession numbers to be downloaded
  sras = ""
  sra_dir_pattern = "/scratch/Shares/dowell/sra/sra/SRR1552484.*"
}
