/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

/* Will run data as paired-end by default. If the data is not paired, enter the following into the command line:
 *       nextflow run main.nf  -profile fiji --singleEnd 
 */

params {
  email = "margaret.gruca@colorado.edu"
  outdir = "/scratch/Shares/dowell/NascentDB/"
  keyword = "Test2018"

  // Useful paths and reference files
  genome = "/scratch/Shares/dowell/nascent/hg38"
  deep_container = "/scratch/Shares/public/singularity/deeptools-3.0.1-py35_1.img"
  singularity_home = "/scratch/Shares/dowell/nascent"
  bbmap_adapters = "/opt/bbmap/38.05/resources/adapters.fa"
  hisat2_indices = "/scratch/Shares/dowell/nascent/hg38/HISAT2_indexes/genome"
  genome_refseq = "/scratch/Shares/dowell/nascent/hg38/hg38_refseq.bed"
  effective_genome_size = "2913022398"
  chrom_sizes = "/scratch/Shares/dowell/nascent/hg38/hg38.chrom.sizes"
  path_to_bedGraphToBigWig = "/scratch/Shares/dowell/scripts/bedGraphToBigWig"

  // Input data alternatives (choose any, but must at least leave it with
  // an empty string if unused):

  // 1. Directory pattern with a bunch of fastq files
  //fastq_dir_pattern = ""
  //fastq_dir_pattern = "/scratch/Users/igtr4848/to_process_gro/SR*_{1,2}.fastq"

  // 2. Directory pattern with a bunch of srr files downloaded from GEO
  //sra_dir_pattern = "/scratch/Shares/dowell/nascent/sra/to_process_gro/SR*"
  sra_dir_pattern = "/scratch/Shares/dowell/sra/sra/SRR4012391.*"
}
