/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

/* Will run data as paired-end by default. A minimum usage example is as follows:
 *       nextflow run main.nf  -profile fiji
 * Enter nextflow run main.nf -profile fiji --help for more aguments
 */

params {
  // panPan2 Genome Reference Files
  genome = "/Shares/txpnevol/genomes/panPan2/panPan2.fa"
  hisat2_indices = "/Shares/txpnevol/genomes/panPan2/hisat2/panPan2.main"
  genome_refseq = "/scratch/Shares/dowell/genomes/panPan2/annotations/panPan2_refseq.bed"
  chrom_sizes = "/Shares/txpnevol/genomes/panPan2/panPan2.main.chrom.sizes"
  fstitch_path = "/scratch/Shares/dowell/FStitch/src/FStitch"
  fstitch_train = "/scratch/Shares/dowell/FStitch/train/hg38_train.bed"
  tfit_path = "/scratch/Shares/dowell/Tfit/src/Tfit"
  motif_path = "/scratch/Shares/dowell/motifs/best_curated_Human_TFs_p1e-6_grch38"
  picard_path = "/opt/picard/2.6.0/picard-2.6.0.jar"
}
