/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

/* Will run data as paired-end by default. A minimum usage example is as follows:
 *       nextflow run main.nf  -profile fiji
 * Enter nextflow run main.nf -profile fiji --help for more aguments
 */

params {
  // Genome Reference Files
  genome = "/scratch/Shares/dowell/nascent/hg38"
  hisat2_indices = "/scratch/Shares/dowell/nascent/hg38/HISAT2/genome"
  genome_refseq = "/scratch/Shares/dowell/nascent/hg38/hg38_refseq.bed"
  chrom_sizes = "/scratch/Shares/dowell/nascent/hg38/hg38.chrom.sizes"
  FS_path = "/scratch/Shares/dowell/FStitch/FStitch/src/FStitch"
  FS_train = "/scratch/Shares/dowell/FStitch/FStitch/train/hg38_train.bed"
  Tfit_path = "/scratch/Shares/dowell/Tfit/Tfit/src/Tfit"
}
