/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

/* Will run data as single-end by default. A minimum usage example is as follows:
 *       nextflow run main.nf  -profile fiji
 * Enter nextflow run main.nf -profile fiji --help for more aguments
 */

params {

  // Useful paths and reference files
  genome = "COMPLETE_PATH_TO_DIRECTORY_CONTAINING_GENOME_FASTA"
  bbmap_adapters = "COMPLETE_PATH_TO_BBMAP_adapters.fa"
  hisat2_indices = "COMPLETE_PATH_TO_DIRECTORY_CONTAINING_HISAT2_INDICES"
  genome_refseq = "COMPLETE_PATH_TO_REFSEQ_BEDFILE_FOR_THIS_REFERENCE_GENOME"
  chrom_sizes = "COMPLETE_PATH_TO_FILE_CONTAINING_CHROMOSOME_SIZES_FOR_THIS_REFERENCE_GENOME"
  path_to_bedGraphToBigWig = "COMPLETE_PATH_TO_bedGraphToBigWig_BINARY"

  // Input data alternatives

  // 1. Directory pattern with a bunch of fastq files
  //    (comment or leave as empty string if unused)
  //fastq_dir_pattern = "COMPLETE_PATH_TO_FASTQ_FILES"
  // Example: can use a regular expression to match any pattern, like:
  //          fastq_dir_pattern = "/some/path/to/SR*_{1,2}.fastq"

  // 2. Directory pattern with a bunch of srr files downloaded from GEO
  //    (comment or leave as empty string if unused)
  //sra_dir_pattern = "COMPLETE_PATH_TO_SRA_FILES"
  // Example: can use a regular expression to match any pattern, like:
  //          sra_dir_pattern = "/some/path/to/SR*"
}
