/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

/* Will run data as paired-end by default. A minimum usage example is as follows:
 *       nextflow run main.nf  -profile fiji
 * Enter nextflow run main.nf -profile fiji --help for more aguments
 */

params {
  // hg38 Genome Reference Files
  genome = "/scratch/Shares/dowell/nascent/hg38/hg38.fa"
  hisat2_indices = "/scratch/Shares/dowell/nascent/hg38/HISAT2/genome"
  genome_refseq = "/scratch/Shares/dowell/nascent/hg38/hg38_refseq.bed"
  chrom_sizes = "/scratch/Shares/dowell/nascent/hg38/hg38.chrom.sizes"
  FS_path = "/scratch/Shares/dowell/FStitch/src/FStitch"
  FS_train = "/scratch/Shares/dowell/FStitch/train/hg38_train.bed"
  Tfit_path = "/scratch/Shares/dowell/Tfit/src/Tfit"
  genome_id = "hg38"
}

//params {
//  // mm10 Genome Reference Files
//  genome = "/scratch/Shares/dowell/nascent/mm10/mm10.fa"
//  hisat2_indices = "/scratch/Shares/dowell/nascent/mm10/HISAT2/genome"
//  genome_refseq = "/scratch/Shares/dowell/nascent/mm10/mm10_refseq.bed"
//  chrom_sizes = "/scratch/Shares/dowell/nascent/mm10/mm10.chrom.sizes"
//  FS_path = "/scratch/Shares/dowell/FStitch/src/FStitch"
//  FS_train = "/scratch/Shares/dowell/FStitch/train/mm10_train.bed"
//  Tfit_path = "/scratch/Shares/dowell/Tfit/src/Tfit"
//  genome_id = "mm10"
//}
